body {
    -moz-margin-start: 0em;
    -webkit-margin-after: 0em;
    -webkit-margin-before: 0em;
}

a {
    text-decoration: none;
}

.margin-reset {
    margin-bottom: 0px;
    -moz-margin-start: 0em;
    -webkit-margin-after: 0em;
    -webkit-margin-before: 0em;
}

.radius-reset {
    -webkit-border-radius: 0;
    border-radius: 0px;
}

/*head*/
.hero-unit {
    background: url("../images/bridge.jpg") no-repeat top left;
    background-size: 100% 100%;
}

.first-title {
    color: #D2E9FF;
}

/* navbar */
.dropdown-item {
    margin-top: 5px;
}

.rangeDigramHead{
    padding: 3px 5px;
}

/* foot */

