<link rel="stylesheet" href="../assets/plugin/bootstrap/css/bootstrap.min.css" />
<link href="../assets/plugin/bootstrap/css/bootstrap-responsive.min.css" type="text/css" rel="stylesheet" />
<link rel="stylesheet" href="../assets/plugin/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css" />

<script type="text/javascript" src="../assets/plugin/jquery/jquery-1.10.2.min.js"></script>
<script type="text/javascript" src="../assets/plugin/jquery/jquery-migrate-1.2.1.js"></script>
<script type="text/javascript" src="../assets/plugin/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="../assets/plugin/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js"></script>